<h3></i> Digital Garden</h3>
<div class="section">
    <p class="lead"></p>Store your writing and creations here.</p>
    {{!-- <p> Focus on the process, care, and craft it takes to get there and less on the final showpiece</p> --}}
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn green darken-1">
        <i class="fab fa-google"></i> Log In With Google
    </a>
</div>