p {
    margin: 10px 0 !important;
}

body {
    background-color: cadetblue;
}

.card {
    border-radius: 25px;
    background: rgb(243, 243, 243);
}

.btn {
    border-radius: 10px;
}

.btn-float {
    width: 49px;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 20px;
}

.img-small {
    width: 180px;
}

p {
    margin: 10px 0 !important;
}

.login-container {
    width: 350px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 150px;
}

.card-content {
    min-height: 240px;
}

.mainheader {
    background-color: cadetblue;
}

.greystory {
    background-color: cadetblue;

}

.google-btn {
    background-color: cadetblue;
}

